p {
    font-size: 14px;
}

.container-fluid {
    min-height: 100vh !important;
}

.card {
    border-radius: 0% !important;
}


.form {
    .card {
        background-color: #A1A2A9;
    }
}

.login-quotes {
    .card {
        background-color: #A1A2A9;
    }
}